<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="DontNotLoadImage" value="false"/>
    <add key="AlertForUnSavedState" value="false"/>
    <add key="BackUpFolder" value="D:\temp" />
    <add key="urlToSerach" value="https://www.foagroup.com/catalogsearch/result/?q=" />
    <add key="exlcudeWordsInSearch" value="FOA-,-M" />
    <add key="columnNameToSearch" value="Vendor SKU" />
    <add key="DefaultCulture" value="en-GB" />
  </appSettings>
  <startup>
    <supportedRuntime veresion="v4.0" sku=".NETFramework,Version=v4.5.1" version="v4.0"/>
  </startup>
</configuration>
